@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');

:root{
  --neon: #00BFFF;
}

body{
  margin: 0;
  padding: 0;
  /*display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Consolas; */
  background-color: #333;
  
}
/* #Z196f3 */
.button_neon{
  width: auto;
  height: 600px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  font-family: Consolas;
  /* background-color: #333; */
}
.button{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 5px;
  color: var(--neon);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.2s;
  /* background-color: #fff; */
}

.button__line{
  position: absolute;
  display: block;

}

.button__line--top{
  top: 0;
  left: -100%; 
  width:100%;
  height: 2px;
/* background-color: var(--neon); */
  background: linear-gradient(90deg, transparent, var(--neon));
}

.button:hover .button__line--top{
left: 100%;
transition: 1s;
transition-delay: 0.25s;
}

.button__line--bottom{
  bottom: 0;
  right:  -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(-90deg, transparent, var(--neon))
}
.button:hover .button__line--bottom{
  right: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button__line--left{
  bottom: -100%;
  left: 0;
  height: 100%;
  width: 2px;
  /* background-color: var(--neon); */
  background: linear-gradient(0deg, transparent, var(--neon))
}

.button:hover .button__line--left{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.0s;
}

.button__line--right{
  top: -100%;
  right: 0;
  height: 100%;
  width: 2px;
  /* background-color: var(--neon); */
  background: linear-gradient(180deg, transparent, var(--neon))
}

.button:hover .button__line--right{
  top: 100%;
  transition: 1s;
  transition-delay: 0.0s;
}

.button:hover{
  box-shadow: 0 0 10px var(--neon), 0 0 40px var(--neon), 0 0 80px var(--neon);
  background-color:var(--neon);
  color: #333;
  transition-delay: 1s;
}
.neon_text{
position: relative; 
margin: 0;
padding: 0;
width: auto;
height: 600px;

background: url('../../image/blck.jpg');
background-size: cover;
font-family: 'Quicksand', sans-serif;
}

.neon {
  position: absolute;; 
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
  margin: 0;
  padding: 0 20px;
  font-size: 6em;
  color: #fff;
  text-shadow: 0 0 15px #ff005b; 
}

.neon:after{
content: attr(data-text);
position: absolute;
top: 0;
left: 0;
padding: 0 20px;
z-index: -1;
color: #ff005b;
filter: blur(15px);
}

.neon:before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #fe3a80;
z-index: -2;
opacity: .5;
filter: blur(40px);
}